.parent{
    border: 5px solid black;
    min-height: 400px;
    margin: auto;
    position: relative;
    /* bottom: 90px; */

    
}
.child{
    border: 5px solid red;
    width: 50%;
    margin: auto;
    position: absolute;
    /*Now , ye parent k respect me move krega kyuki parent ko position dedi hai*/
    bottom: 0;
    left: 0;


}