*{
    font-size: 35px;
}
.div{
    height: 500px;
    width: 400px;
    margin: auto;
    margin-top: 150px;
    background-color: orange;
    border: 4px solid black;
    transform: skewX(30deg);
}
.div1{
    height: 500px;
    width: 400px;
    margin: auto;
    margin-top: 150px;
    background-color: orange;
    border: 4px solid black;
    transform: skewY(30deg);
}
.div2{
    height: 500px;
    width: 200px;
    margin: auto;
    margin-top: 150px;
    background-color: orange;
    border: 4px solid black;
    transform: skewZ(30deg);
    
}